<div class="tela">
      <legend><font size=3>RELATÓRIO GERAL DE DEMANDA ESCOLAR</font></legend>
</div>
<div id="conteudo">
   <fieldset>
      <table  border="0" width="100%" cellspacing="1">
        <th><font style="font-size: 8pt" > DEMANDA GERAL NA REDE: <font color="red">  <%= Crianca.demanda_total.length %> </font>crianças</font></th>
        <th><font style="font-size: 8pt" > GERAL DE MATRICULAS NA REDE: <font color="red"><%= Crianca.matricula_total.length %> </font>alunos</font></th>
      </table>
   <fieldset>
      <legend><font size=2>DEMANDA POR REGIÃO</font></legend>
    <table border="0" width="100%" cellpadding="1" cellspacing="1" >
    <tr>
        <th align="left" style= "font-size: 8pt"> > SÃO JERÔNIMO   : <%= Crianca.find(:all, :conditions => ["matricula != 1 and regiao_id = 1"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CID. JARDIM  : <%= Crianca.find(:all, :conditions => ["matricula != 1 and regiao_id = 2"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > SÃO VITO       : <%= Crianca.find(:all, :conditions => ["matricula != 1 and regiao_id = 3"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > ZANAGA         : <%= Crianca.find(:all, :conditions => ["matricula != 1 and regiao_id = 4"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > JD IPIRANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and regiao_id = 5"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CENTRO         : <%= Crianca.find(:all, :conditions => ["matricula != 1 and regiao_id = 6"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > PRAIA AZUL     : <%= Crianca.find(:all, :conditions => ["matricula != 1 and regiao_id = 7"]).length %></th>
    <tr/>
 </table>
</fieldset>
<fieldset>
   <legend><font size=2>DEMANDA GERAL POR UNIDADE</font></legend>
    <table border="0" width="120%" cellpadding="1" cellspacing="1">
      <tr>
       <th align="left" style= "font-size: 8pt"> > ANAJA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 15"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARACARI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 30"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARACATI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 12"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARACY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 6"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARAPIRANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 1"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 9"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BACURI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 37"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > BATUIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 21"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BITU: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 2"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BORE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 33"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BURITI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 52"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CAIC: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 7"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CARANDA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 10"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CECI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 34"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > CHUI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 16"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CORIMBO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 35"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CUNHATAI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 13"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CURIMA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 23"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CURUMIM: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 31"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CURIO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 26"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > GRAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 8"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > INDAIA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 20"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > JACINA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 22"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > JACY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 5"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > JURITI:<%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 4"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MAIRA:<%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 3"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MAJOI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 24"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MANACA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 41"]).length %></th>
   </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > MANAI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 11"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MARACA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 17"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PANAMBY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 40"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PATATIVA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 29"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PATURI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 19"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PITANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 39"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PITANGA II: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 50"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > POTIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 18"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > SABIA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 38"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > TANGARA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 36"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > TAPERA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 25"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > TARAGUA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 27"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > TAHIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 32"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > URUPE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 28"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > WANDA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 51"]).length %></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th align="left" style= "font-size: 8pt"><font color="red" > > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 in (51,28,32,27,25,26,28,18,50,39,19,29,40,17,11,41,24,3,4,5,22,20,8,26,31,23,13,35,16,34,10,7,52,33,2,21,37,9,1,6,12,30,15,7,6,5,4,3,2,1)"]).length %></font></th>


    </tr>
  </table>
  </fieldset>
<fieldset>
  <legend><font size=2>DEMANDA CRECHE POR UNIDADE</font></legend>
   <table border="0" width="120%" cellpadding="1" cellspacing="1">
    <tr>
      <th align="left" style= "font-size: 8pt"> > ANAJA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 15 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > BURITI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 52 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > CAIC: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 7 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > CHUI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 16 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > CURIMA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 23 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > MAJOI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 24 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > MARACA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 17 and grupo_id in (1,2,3,4,5)"]).length %></th>
    </tr>
    <tr>
      <th align="left" style= "font-size: 8pt"> > PITANGA II: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 50 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > TAPERA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 25 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 8pt"> > WANDA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 51 and grupo_id in (1,2,3,4,5)"]).length %></th>
      <th></th>
      <th></th>
      <th></th>
      <th align="left" style= "font-size: 8pt"> <font color="red" > > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 in (15,52,7,16,23,24,17,50,25,51) and grupo_id in (1,2,3,4,5)"]).length %></font></th>
    </tr>
  </table>
  </fieldset>
<fieldset>
   <legend><font size=2>DEMANDA EMEI POR UNIDADE</font></legend>
    <table border="0" width="120%" cellpadding="1" cellspacing="1">
      <tr>
        <th align="left" style= "font-size: 8pt"> > ARACARI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 30 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > ARACATI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 12 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > ARACY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 6 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > BACURI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 37 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > BATUIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 21 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > BORE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 33 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CARANDA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 10 and grupo_id in (6,7)"]).length %></th>
      </tr>
      <tr>
        <th align="left" style= "font-size: 8pt"> > CECI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 34 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CORIMBO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 35 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CUNHATAI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 13 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CURUMIM: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 31 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > INDAIA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 20 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > JACINA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 22 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > JACY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 5 and grupo_id in (6,7)"]).length %></th>
      </tr>
      <tr>
        <th align="left" style= "font-size: 8pt"> > MANAI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 11 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > PATATIVA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 29 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > PATURI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 19 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > POTIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 18 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > SABIA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 38 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > TANGARA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 36 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"><font color="red" > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 in (30,12,6,37,21,33,10,34,35,13,31,20,22,5,11,29,19,18,38,36) and grupo_id in (6,7)"]).length %></font></th>
      </tr>
    </table>
  </fieldset>
  <fieldset>
   <legend><font size=2>DEMANDA CASA DA CRIANCA POR UNIDADE</font></legend>
    <fieldset>
    <legend><font size=2>CRECHE</font></legend>
     <table border="0" width="120%" cellpadding="1" cellspacing="1">
      <tr>
        <th align="left" style= "font-size: 8pt"> > ARAPIRANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 1 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > ARAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 9 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > BITU: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 2 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CURIO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 26 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > GRAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 8 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > JURITI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 4 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > MAIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 3 and grupo_id in (1,2,3,4,5)"]).length %></th>
      </tr>

     <tr>
        <th align="left" style= "font-size: 8pt"> > MANACA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 41 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > PANAMBY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 40 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > PITANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 39 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > TARAGUA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 27 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > TAHIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 32 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > URUPE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 28 and grupo_id in (1,2,3,4,5)"]).length %></th>
        <th align="left" style= "font-size: 8pt"><font color="red" > > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 in (1,9,2,26,8,4,3,41,40,39,27,32,28) and grupo_id in (1,2,3,4,5)"]).length %></font></th>
      </tr>
    </table>
    </fieldset>
    <fieldset>
     <legend><font size=2>EMEI</font></legend>
     <table border="0" width="120%" cellpadding="1" cellspacing="1">
      <tr>
        <th align="left" style= "font-size: 8pt"> > ARAPIRANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 1 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > ARAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 9 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > BITU: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 2 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > CURIO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 26 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > GRAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 8 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > JURITI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 4 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > MAIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 3 and grupo_id in (6,7)"]).length %></th>
     </tr>
     <tr>
        <th align="left" style= "font-size: 8pt"> > MANACA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 41 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > PANAMBY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 40 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > PITANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 39 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > TARAGUA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 27 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > TAHIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 32 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"> > URUPE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 28 and grupo_id in (6,7)"]).length %></th>
        <th align="left" style= "font-size: 8pt"><font color="red" > > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 in (1,9,2,26,8,4,3,41,40,39,27,32,28) and grupo_id in (6,7)"]).length %></font></th>
      </tr>
    </table>
  </fieldset>
 </fieldset>
<fieldset>
  <legend><font size=2>DEMANDA ENTIDADES FILANTÓPICAS</font></legend>
   <table border="0" width="120%" cellpadding="1" cellspacing="1">
      <tr>
       <th align="left" style= "font-size: 8pt"> > APAM: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 45 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > LAR MÃE ESPERANÇA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 48 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > LETICIA DUARTE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 44 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > M. LOBATO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 42 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > S. DOMINGOS: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 43 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > S. VICENTE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 49 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
     </tr>
     <tr>
       <th align="left" style= "font-size: 8pt"> > SASA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 46 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > SASA-PQ GRAMADO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 47 and grupo_id in (1,2,3,4,5,6,7)"]).length %></th>
       <th></th>
       <th></th>
       <th></th>
       <th align="left" style= "font-size: 8pt"><font color="red" > > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 in (45,48,44,42,43,49,46,47) and grupo_id in (1,2,3,4,5,6,7)"]).length %></font></th>
    </tr>
  </table>
  </fieldset>
<fieldset>
   <legend><font size=2>MATRICULA POR UNIDADE</font></legend>
    <table border="0" width="120%" cellpadding="1" cellspacing="1">
      <tr>
       <th align="left" style= "font-size: 8pt"> > ANAJA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 15"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARACARI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 30"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARACATI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 12"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARACY: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 6"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARAPIRANGA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 1"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > ARAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 9"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BACURI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 37"]).length %></th>
      </tr>
      <tr>
       <th align="left" style= "font-size: 8pt"> > BATUIRA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 21"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BITU: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 2"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BURITU: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 52"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > BORE: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 33"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CAIC: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 7"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CARANDA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 10"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CECI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 34"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > CHUI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 16"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CORIMBO: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 35"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CUNHATAI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 13"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CURIMA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 23"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CURUMIM: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 31"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > CURIO: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 26"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > GRAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 8"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > INDAIA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 20"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > JACINA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 22"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > JACY: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 5"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > JURITI:<%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 4"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MAIRA:<%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 3"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MAJOI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 24"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MANACA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 41"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > MANAI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 11"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > MARACA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 17"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PANAMBY: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 40"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PATATIVA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 29"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PATURI: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 19"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PITANGA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 39"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > PITANGA II: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 50"]).length %></th>
   </tr>
    <tr>
       <th align="left" style= "font-size: 8pt"> > POTIRA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 18"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > SABIA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 38"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > TANGARA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 36"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > TARAGUA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 27"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > TAHIRA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 32"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > URUPE: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 28"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > WANDA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 51"]).length %></th>
    </tr>
    <tr>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th align="left" style= "font-size: 8pt"><font color="red"> > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula in (51,28,32,27,36,38,18,50,39,19,29,40,17,11,41,24,3,4,5,22,20,8,26,31,23,13,35,16,34,10,7,33,52,2,21,37,9,1,6,12,30,15)"]).length %></font></th>
    </tr>
  </table>
  </fieldset>
<fieldset>
   <legend><font size=2>MATRICULA ENTIDADES FILANTRÓPICAS</font></legend>

    <table border="0" width="120%" cellpadding="1" cellspacing="1">
      <tr>
       <th align="left" style= "font-size: 8pt"> > APAM: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 45"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > LAR MÃE EPERANÇA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 48"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > LETICIA DUARTE: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 44"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > M. LOBATO: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 42"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > S. DOMINGOS: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 43"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > S. VICENTE: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 49"]).length %></th>
     </tr>
     <tr>
       <th align="left" style= "font-size: 8pt"> > SASA: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 46"]).length %></th>
       <th align="left" style= "font-size: 8pt"> > SASA-PQ GRAMADO: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula = 47"]).length %></th>
       <th></th>
       <th></th>
       <th></th>
       <th align="left" style= "font-size: 8pt"><font color="red" > > TOTAL: <%= Crianca.find(:all, :conditions => ["matricula != 0 and unidade_matricula in (45,48,44,42,43,49,46,47) and grupo_id in (1,2,3,4,5,6,7)"]).length %></font></th>

     </tr>
  </table>
  </fieldset>
<fieldset>
  <table border="1" frame="box" rules="all" width="100%">
    <tr>
      <th colspan="7">
        Existem Crianças onde grupo e unidade são discrepantes
      </th>
    </tr>
    <tr>
      <th align="left" style= "font-size: 7pt"> > ANAJA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 15 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > BURITI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 52 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > CAIC: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 7 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > CHUI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 16 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > CURIMA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 23 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > MAJOI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 24 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > MARACA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 17 and grupo_id not in (1,2,3,4,5)"]).length %></th>
    </tr>
    <tr>
      <th align="left" style= "font-size: 7pt"> > PITANGA II: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 50 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > TAPERA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 25 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th align="left" style= "font-size: 7pt"> > WANDA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 51 and grupo_id not in (1,2,3,4,5)"]).length %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 7pt"> > ARACARI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 30 and grupo_id not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > ARACATI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 12 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > ARACY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 6 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > BACURI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 37 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > BATUIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 21 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > BORE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 33 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > CARANDA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 10 and grupo_id  not in (6,7)"]).length %></th>
    </tr>
    <tr>
       <th align="left" style= "font-size: 7pt"> > CECI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 34 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > CORIMBO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 35 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > CUNHATAI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 13 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > CURUMIM: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 31 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > INDAIA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 20 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > JACINA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 22 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > JACY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 5 and grupo_id  not in (6,7)"]).length %></th>

    </tr>
    <tr>
       <th align="left" style= "font-size: 7pt"> > MANAI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 11 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > PATATIVA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 29 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > PATURI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 19 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > POTIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 18 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > SABIA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 38 and grupo_id  not in (6,7)"]).length %></th>
       <th align="left" style= "font-size: 7pt"> > TANGARA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 36 and grupo_id  not in (6,7)"]).length %></th>
       <th></th>
     </tr>
    <tr>
        <th align="left" style= "font-size: 7pt"> > ARAPIRANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 1 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > ARAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 9 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > BITU: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 2 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > CURIO: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 26 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > GRAUNA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 8 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > JURITI: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 4 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > MAIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 3 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
    </tr>
    <tr>
        <th align="left" style= "font-size: 7pt"> > MANACA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 41 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > PANAMBY: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 40 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > PITANGA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 39 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > TARAGUA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 27 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > TAHIRA: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 32 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th align="left" style= "font-size: 7pt"> > URUPE: <%= Crianca.find(:all, :conditions => ["matricula != 1 and option1 = 28 and grupo_id not in (1,2,3,4,5,6,7)"]).length %></th>
        <th></th>
    </tr>
  </table>
</fieldset>
 </fieldset>
</div>